body {
  background-color: #9FD4C2;
  font-family: 'Ubuntu', sans-serif;
}

header {
}

h1 {
  font-size: 350%;
  color: #670F1D;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
  text-shadow: 1px 1px 1px #000;
}

li {
  padding: 3px;
}

.iconLinks {
  height: 150px;
  width: 150px;
  display: inline-block;
  position: relative;
  opacity: .9;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 2px #232323;
  -moz-box-shadow: 2px 2px 2px #232323;
  box-shadow: 2px 2px 2px #232323;
  margin: 20px;
}

.iconLinks:hover {
  opacity: 1;
  cursor: pointer;
}

.iconLinks:active {
  top: 2px;
  left: 2px;
  z-index: 2;
  box-shadow: inset 0 0 1em black;
}

.aboutMe {
  margin: 10px;
}
